<div>
    <div class="row">
        <div class="col-md-1 step">
            <a href="#" data-ng-hide="viewableWidth > setWidth" data-direction="left"><img src="img/step-left.png" /></a>
        </div>
        <div class="col-md-10 set-view">
            <div class="set-container">
                <div class="category height-{{set.height.type}}" data-ng-hide="category.width === 0" data-ng-repeat="category in set.categories">
                    <div class="category-header" data-ng-style="{'background-color': category.color}">
                        <p>{{category.displayName}}</p>
                    </div>
                    <div class="fixture width-{{fixture.width}}" data-ng-repeat="fixture in category.fixtures track by $index">
                        <img data-ng-src="img/fixtures/ff2-{{set.height.type}}-{{fixture.width}}.png" />
                        <div class="shelf-container">
                            <div class="shelf" data-ng-repeat="shelf in fixture.shelves track by $index">
                                <img data-ng-src="img/shelves/{{shelf.value}}-{{fixture.width}}.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 step">
            <a href="#" data-ng-hide="viewableWidth > setWidth" data-direction="right"><img src="img/step-right.png" /></a>
        </div>
    </div>
</div>