<div>
    <div class="row question">
        <div class="col-md-3">
            <h3>03</h3>
            <p class="bold">CUSTOMIZE</p>
            <p>Fixture Shelves</p>
        </div>
        <div class="col-md-9">
            <h2>Do you want to customize your fixture shelf types?</h2>
            <a href="#" class="btn-main">Show Me Shelving Options</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="display-set vvd-category-options"></div>
        </div>
    </div>
</div>